<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue dans la Photothèque</h1>
    </header>
    <div class="container">
        <div class="actions">
            <a href="/photos">Voir les Photos</a>
            <a href="/photos/add">Ajouter une Photo</a>
        </div>
    </div>
    <footer class="footer">
        &copy; 2024 Photothèque
    </footer>
</body>
</html>
